.container {
    max-width: 400px;
    min-height: 450px;
    margin: 0 auto;
    background-color: #efefef ;
box-shadow: 0 0 10px gray;
margin-top: 50px;
padding: 15px 50px;
}
.text-center{
    text-align: center;
}
.expence-container{
display: flex;
justify-content:  space-around;
background-color: white;
box-shadow: 0 0 10px gray;
}
.list-transtion{
    margin:  0;
    padding: 0;
    }
.list-transtion > li{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px gray;
    padding: 10px 5px;
    margin: 5px 0;
    background-color: white;


}
.transtion-form input{
    width: 100%;
    margin-top: 10px 0;
    padding:  5px;
}
